@import url('https://fonts.googleapis.com/css?family=Lobster+Two&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #1e0e31;
    color: #1e0e31;
    font-family: 'Lobster Two', Arial;
}

.landing-section {
    position: relative;
}

.landing-section,
.schedule {
    margin: 0 auto;
    min-height: 100vh;
}

.schedule {
    background: #d0f9f9;
}

.schedule svg {
    padding: 2rem;
}

h1,
h2,
footer {
    text-align: center;
    margin-top: 0;
}

footer {
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1e0e31;
}

footer span {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 5.3125rem;
    width: 5.3125rem;
    background: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 90 90'%3E%3Ccircle cx='47.5' cy='47.5' r='42.5' style='fill:%23fad1eb'/%3E%3C/svg%3E") no-repeat 50%;
}

h1 {
    margin-bottom: 1.5rem;
    font-size: 72px;
}

h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    padding-top: 1rem;
}

section {
    padding: 1rem 1rem;
    position: relative;
}

.section--white {
    background: #ffffff;
}

.section--pink {
    background: #e31c9d;
}

iframe {
    width: 100%;
}

.column-layout {
    max-width: 51.25rem;
    margin: 0 auto;
}

p,
address {
    margin-top: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.elevator-mask {
    overflow: hidden;
    margin: 0 auto;
    width: 8rem;
    height: 2rem;
}

.elevator {
    animation: items 8s linear infinite;
}

@keyframes items {
    0% {transform: translateY(-16rem);}
    2.5% {transform: translateY(-14rem);}
    22.5% {transform: translateY(-14rem);}
    27.5% {transform: translateY(-10rem);}
    47.5% {transform: translateY(-10rem);}
    52.5% {transform: translateY(-6rem);}
    72.5% {transform: translateY(-6rem);}
    77.5% {transform: translateY(-2rem);}
    97.5% {transform: translateY(-2rem);}
    100%{transform: translateY(-0rem)}
}

.elevator__item {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 2rem;
    margin-top: 2rem;
    color: #ffffff;
}

.elevator__item--feiern {
    background: #e31c9d;
}

.elevator__item--singen {
    background: #1e0e31;
}

.elevator__item--tanzen {
    background: #1ce3e3;
}

.elevator__item--lachen {
    background: #ffe44e;
}

.card {
    max-width: 300px;
    margin: 0 auto 3rem;
    padding: 1rem;
    border-radius: .5rem;
}

.card--pink {
    background: #fad1eb;
    box-shadow: .5rem .5rem 0 #e31c9d;
}

.card--turquoise {
    background: #d0f9f9;
    box-shadow: .5rem .5rem 0 #1ce3e3;
}

form {
    display: flex;
    flex-direction: column;
    color: #1e0e31;
}

form::before {
    content: "";
    background: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 90 90'%3E%3Ccircle cx='47.5' cy='47.5' r='42.5' style='fill:%23E31C9D'/%3E%3Cpath d='M47.46,90A42.5,42.5,0,1,1,90,47.48,42.5,42.5,0,0,1,47.46,90Zm0-83.23A40.73,40.73,0,1,0,88.19,47.48h0A40.76,40.76,0,0,0,47.46,6.75Z' transform='translate(-4.96 -4.98)' style='fill:%23191919'/%3E%3Cpath d='M65.07,49.82c0-2.11-.07-4.22-.2-6.26a18,18,0,0,0-.48-5,2.52,2.52,0,0,0-2.86-1.84c-4.76-.68-9.79-.48-14.55-.48a136.16,136.16,0,0,0-15.77.89.77.77,0,0,0-.55.47.64.64,0,0,0-.41.41.72.72,0,0,0,0,.82c.14,3.67.2,7.34.28,11,0,2,.06,3.95.13,5.92A3.21,3.21,0,0,0,31.14,58c.61.62,1.77.48,2.58.55,2.18.07,4.29,0,6.46,0,4.49,0,8.91,0,13.4-.07,2.18,0,4.29-.07,6.46-.07,1.23,0,3.2.34,4.29-.47a2.48,2.48,0,0,0,.74-1.84A47.6,47.6,0,0,0,65.07,49.82ZM59.63,38.05c-1.7,1.57-3.34,3.27-5,4.76-2.1,1.84-5.71,6-8.56,4.56-2.38-1.23-4.63-3.6-6.8-5.17a42.56,42.56,0,0,0-6.53-3.88,136.67,136.67,0,0,1,13.87-.61C50.85,37.64,55.27,38.12,59.63,38.05ZM63,56.14c-.55.68-2.72.34-3.54.34-1.43,0-2.85.07-4.28.07-3.06.07-6,.07-9.11.13-2.86,0-5.72.07-8.57.07-1.09,0-3.27.48-4.29,0-.74-.34-.68-.41-.81-1.36a15,15,0,0,1-.07-1.77c-.2-4.62-.27-9.31-.61-14a49,49,0,0,1,9,5.91c1.63,1.29,4.63,4.69,6.94,4.56s5.23-3.27,6.93-4.69a46.06,46.06,0,0,0,7-6.6c1.3.54,1.3,8.16,1.36,8.9.07,1.43.07,2.79.07,4.22C63,52.74,63.43,55.53,63,56.14Z' transform='translate(-4.96 -4.98)' style='fill:%23191919'/%3E%3C/svg%3E") no-repeat 50%;
    background-size: contain;
    height: 5.3125rem;
    width: 5.3125rem;
    display: block;
    margin: 0 auto 24px;
}

label {
    display: flex;
    flex-direction: column;
    font-size: auto;
}

input,
textarea {
    border: none;
    border-radius: .25rem;
    padding: .5rem;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 1rem;
}

textarea {
    height: 150px;
}

button {
    width: 140px;
    margin: 0 auto;
    padding: 1.25rem 2.5rem;
    font-size: .875rem;
    background: #e31c9d;
    color: #1e0e31;
    margin-bottom: 1rem;
    border: none;
    border-radius: .375rem;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    font-weight: bold;
    transition: transform .3s cubic-bezier(.03,.79,.29,1);
}

button:hover {
    transform: translate3d(0, -5px, 0);
}

button::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 1px solid #e31c9d;
    border-radius: .5rem;
    transform: translate3d(5px, 5px, 0);
}

svg {
    width: 100%;
}

.hero-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

.hero-container img {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.form-section {
    background: #1e0e31;
    color: #ffffff;
    min-height: 100vh;
    /* padding: 3rem; */
}


.top-wave::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: -1px;
    height: 4.1vw;
    background-position: 50%;
    background-size: cover;
}

.bottom-wave::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -1px;
    height: 4.1vw;
    background-position: 50%;
    background-size: cover;
}

.top-wave--white::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1440 57.36'%3E%3Cpath d='M0,17S186.22,82,379.23,47C496.07,23.37,609-6.16,820.3,19.05A1577.84,1577.84,0,0,0,1080.7,38.4c95.45-.59,179-36,242.46-37.65C1395.57-1.16,1440,17,1440,17V0H0Z' style='fill:%23FFFFFF;'/%3E%3C/svg%3E");
}

.bottom-wave--white::after {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1440 51.43'%3E%3Cpath d='M0,48S32.15,7.18,392.15,7.18C556.53,7.18,576,29.75,682,33.11,781.36,36.26,885.22-2,983.41.08c113.34,2.37,218.64,33,299.52,43.43C1378.57,55.82,1440,48,1440,48v3.46H0Z' style='fill:%23FFFFFF;'/%3E%3C/svg%3E");
}

.bottom-wave--purple::after {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1440 51.43'%3E%3Cpath d='M0,48S32.15,7.18,392.15,7.18C556.53,7.18,576,29.75,682,33.11,781.36,36.26,885.22-2,983.41.08c113.34,2.37,218.64,33,299.52,43.43C1378.57,55.82,1440,48,1440,48v3.46H0Z' style='fill:%231E0E31;'/%3E%3C/svg%3E");
}

/* .top-wave--pink::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1440 57.36'%3E%3Cpath d='M0,17S186.22,82,379.23,47C496.07,23.37,609-6.16,820.3,19.05A1577.84,1577.84,0,0,0,1080.7,38.4c95.45-.59,179-36,242.46-37.65C1395.57-1.16,1440,17,1440,17V0H0Z' style='fill:%23E31C9D;'/%3E%3C/svg%3E");
}

.bottom-wave--pink::after {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1440 51.43'%3E%3Cpath d='M0,48S32.15,7.18,392.15,7.18C556.53,7.18,576,29.75,682,33.11,781.36,36.26,885.22-2,983.41.08c113.34,2.37,218.64,33,299.52,43.43C1378.57,55.82,1440,48,1440,48v3.46H0Z' style='fill:%23E31C9D;'/%3E%3C/svg%3E");
} */

.name {
    font-family: Arial;
    font-size: 2.5rem;
    position: relative;
    display: inline-block;
}

.name::before {
    content: attr(data-shadowline);
    position: absolute;
    top: 1px;
    left: 1px;
    color: transparent;
    text-stroke: 1px #1e0e31;
    -webkit-text-stroke: 1px #1e0e31;
}

.countdown {
    text-align: center;
    display: flex;
    justify-content: space-around;
    position: absolute;
    left: 0;
    right: 0;
    top: 70%;
}

.countdown-item {
    width: 68px;
    height: 68px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-weight: bold;
    position: relative;
    background: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 90 90'%3E%3Ccircle cx='47.5' cy='47.5' r='42.5' style='fill:%23fad1eb'/%3E%3Cpath d='M47.46,90A42.5,42.5,0,1,1,90,47.48,42.5,42.5,0,0,1,47.46,90Zm0-83.23A40.73,40.73,0,1,0,88.19,47.48h0A40.76,40.76,0,0,0,47.46,6.75Z' transform='translate(-4.96 -4.98)' style='fill:%231e0e31' stroke='%231e0e31'/%3E%3C/svg%3E") no-repeat 50%;
}

.countdown-item::before {
    content: attr(data-abbr);
    position: absolute;
    display: inline-block;
    z-index: -1;
    top: -22px;
    background: #1e0e31;
    color: #ffffff;
    width: 20px;
    height: 20px;
    border: 2px solid #1e0e31;
    border-radius: 50%;
    font-size: 16px;
}

.parallax {
    --y: 0px;
}

.parallax-item:nth-child(1) {
    --item-speed: -0.3;
}

.parallax-item:nth-child(2) {
    --item-speed: -0.25;
}

.parallax-item:nth-child(3) {
    --item-speed: -0.4;
}

.parallax-item:nth-child(4) {
    --item-speed: -0.35;
}

.parallax-item {
    transform: translateY(calc(var(--y) * var(--item-speed)));
}

.arrow {
    width: 30px;
    height: 30px;
    margin: 0 auto;
    position: absolute;
    top: 85%;
    left: calc(50% - 15px);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 284.929 284.929'%3E%3Cpath style='fill:%231e0e31' d='M282.082,76.511l-14.274-14.273c-1.902-1.906-4.093-2.856-6.57-2.856c-2.471,0-4.661,0.95-6.563,2.856L142.466,174.441 L30.262,62.241c-1.903-1.906-4.093-2.856-6.567-2.856c-2.475,0-4.665,0.95-6.567,2.856L2.856,76.515C0.95,78.417,0,80.607,0,83.082 c0,2.473,0.953,4.663,2.856,6.565l133.043,133.046c1.902,1.903,4.093,2.854,6.567,2.854s4.661-0.951,6.562-2.854L282.082,89.647 c1.902-1.903,2.847-4.093,2.847-6.565C284.929,80.607,283.984,78.417,282.082,76.511z'/%3E%3C/svg%3E");
}

.arrowanim {
    animation: arrowanim 2s infinite;
}

.hide {
    visibility: hidden;
}

@keyframes arrowanim {
    0%, 20%, 50%, 80%, 100% {
        transform: translate3d(0, 0, 0);
      }
      40% {
        transform: translate3d(0, -22px, 0);
      }
      60% {
        transform: translate3d(0, -15px, 0);
      }
}

.cls-1,
.cls-10, 
.cls-11, 
.cls-12, 
.cls-14, 
.cls-15, 
.cls-16, 
.cls-17, 
.cls-19, 
.cls-20, 
.cls-21, 
.cls-22, 
.cls-23, 
.cls-25, 
.cls-26, 
.cls-27, 
.cls-29, 
.cls-3, 
.cls-30, 
.cls-31, 
.cls-32, 
.cls-33, 
.cls-34, 
.cls-35, 
.cls-36, 
.cls-4, 
.cls-5, 
.cls-6, 
.cls-7, 
.cls-8, 
.cls-9 {
    fill: none;
}

.cls-2 {
    clip-path: url(#clip-path);
}

.cls-10, 
.cls-11, 
.cls-12, 
.cls-14, 
.cls-15, 
.cls-16, 
.cls-17, 
.cls-19, 
.cls-20, 
.cls-21, 
.cls-22, 
.cls-23, 
.cls-25, 
.cls-26, 
.cls-27, 
.cls-29, 
.cls-3, 
.cls-30, 
.cls-31, 
.cls-32, 
.cls-33, 
.cls-34, 
.cls-35, 
.cls-36, 
.cls-4, 
.cls-5, 
.cls-6, 
.cls-7, 
.cls-8, 
.cls-9 {
    stroke: #1e0e31;;
    stroke-linecap: round;
}

.cls-12, 
.cls-14, 
.cls-15, 
.cls-19, 
.cls-20, 
.cls-22, 
.cls-25, 
.cls-27, 
.cls-29, 
.cls-3, 
.cls-30, 
.cls-33, 
.cls-35, 
.cls-4, 
.cls-5, 
.cls-7, 
.cls-9 {

    stroke-linejoin: round;
}

.cls-3 {
    stroke-width: 3.062px;
}

.cls-4 {
    stroke-width: 2.297px;
}

.cls-5, 
.cls-8 {
    stroke-width: 1.531px;
}

.cls-6 {
    stroke-width: 1.531px;
}

.cls-7 {
    stroke-width: 1.531px;
}

.cls-11, 
.cls-9 {
    stroke-width: 2.363px;
}

.cls-10, 
.cls-12 {
    stroke-width: 1.576px;
}

.cls-13 {
    clip-path: url(#clip-path-2);
}

.cls-14, 
.cls-17 {
    stroke-width: 2.335px;
}

.cls-15, 
.cls-16 {
    stroke-width: 1.557px;
}

.cls-18 {
    clip-path: url(#clip-path-3);
}

.cls-19, 
.cls-23 {
    stroke-width: 1.83px;
}

.cls-20, 
.cls-21 {
    stroke-width: 1.22px;
}

.cls-22 {
    stroke-width: 2.44px;
}

.cls-24 {
    clip-path: url(#clip-path-4);
}

.cls-25 {
    stroke-width: 1.656px;
}

.cls-26, 
.cls-27 {
    stroke-width: 1.104px;
}

.cls-28 {
    clip-path: url(#clip-path-5);
}

.cls-29, 
.cls-32 {
    stroke-width: 1.678px;
}

.cls-30, 
.cls-31 {
    stroke-width: 1.118px;
}

.cls-33, 
.cls-34 {
    stroke-width: 2.237px;
}

.cls-35, 
.cls-36 {
    stroke-width: 3px;  
}

.cls-37 {
    fill: #1e0e31;;
    font-size: 1.75rem;
    font-family: 'Lobster Two', Arial;
    font-weight: 400;
}
